<!DOCTYPE html>
<html>
<head>
    <title>Customer Churn Prediction</title>
</head>
<body>

<h2>Upload Customer Dataset</h2>

<form action="/upload" method="post" enctype="multipart/form-data">

    <input type="file" name="file" required><br><br>

    <!-- Threshold slider -->
    <label>
        Churn Threshold:
        <span id="th_value">0.50</span>
    </label><br>

    <input type="range"
           name="threshold"
           min="0"
           max="1"
           step="0.01"
           value="0.50"
           oninput="th_value.innerText = this.value">

    <br><br>

    <button type="submit">Predict</button>
</form>

</body>
</html>
